/* block quotes */
blockquote {
  background: red;
  border-left: 5px solid #ccc;
  margin: 1.5em ;
}

/* scrolling */
slides > slide {
  overflow-x: auto !important;
  overflow-y: auto !important;
}

/* hide page numbers */
slides > slide:not(.nobackground):after {
  content: '';
}

